---
import ProyectTag from "./ProyectTag.astro";
const ASCSharp = "/Assets/images/Proyect/ASCSharp.png";
const BucketNetwork = "/Assets/images/Proyect/BucketNetwork.png";
const PasswordGenerator = "/Assets/images/Proyect/PasswordGenerator.png";
---

<div class="projects-section">

  <div class="projects-header">
    <h2 class="projects-title">
      Mis proyectos
    </h2>
  </div>

  <div class="carousel-wrapper">

    <div id="carousel" class="carousel">

      <div class="slide">
        <ProyectTag 
          Title="Bucket network" 
          Description="BucketNetwork is a social platform designed for university purposes, aimed at facilitating the creation and interaction with user-generated content."
          Status="I think it's done" 
          ImgSrc={BucketNetwork}
        >
          <a target="_blank" href="https://github.com/JhersonCastro/PostHiveDemo" class="project-link">
            Click to see the project
          </a>
        </ProyectTag>
      </div>

      <div class="slide">
        <ProyectTag 
          Title="Password Generator" 
          Description="A lightweight tool designed to generate secure passwords with customizable options such as length, symbols, numbers, and uppercase letters."
          Status="Completed" 
          ImgSrc={PasswordGenerator}
        >
          <a target="_blank" href="https://github.com/JhersonCastro/passwordGenerator" class="project-link">
            Click to see the project
          </a>
        </ProyectTag>
      </div>

      <div class="slide">
        <ProyectTag 
          Title="Ascsharp" 
          Description="Ascsharp is a simple and fast notepad-style text editor built with WPF and C#."
          Status="Completed" 
          ImgSrc={ASCSharp}
        >
          <a target="_blank" href="https://github.com/JhersonCastro/ASCSharp" class="project-link">
            Click to see the project
          </a>
        </ProyectTag>
      </div>

    </div>

    <button id="prev" class="carousel-btn prev">
      ←
    </button>

    <button id="next" class="carousel-btn next">
      →
    </button>

  </div>

</div>


<script>

const carousel = document.getElementById("carousel");
const slides = carousel.children;
const total = slides.length;

let index = 0;

function updateCarousel(){
  carousel.style.transform = `translateX(-${index * 100}%)`;
}

document.getElementById("next").onclick = () => {
  index = (index + 1) % total;
  updateCarousel();
};

document.getElementById("prev").onclick = () => {
  index = (index - 1 + total) % total;
  updateCarousel();
};

</script>