---
import { Image } from "astro:assets";
import me from "../assets/me.jpg";
---

<section id="AboutMeSection">
  <article class="card">
    
    <p class="welcome-text" id="welcome-text">
        ¡Hey! Soy Jherson Andrés Castro Martínez, nací un viernes en el lejano 2 de septiembre del mejor año del mundo (2005), lo que significa que al día de hoy
        <span class="blue" id="dia-semana"></span>,
        <span class="bold" id="fecha-completa"></span>,
        ¡ando con <span class="purple bold" id="edad"></span> y contando!
    </p>

    <div class="grid">
      
      <p class="text">
        Mi plan es conquistar el mundo del backend desde algún rincón: servidores veloces, peticiones concurrentes y sistemas que me permitan desplegar un viernes con calma. Me encanta aprender cosas nuevas, meterle curiosidad a todo y mantener la chispa encendida.
      </p>

      <figure class="image-wrapper" id="image-section">
        <div class="image-card">
          <p class="image-title">
            Este soy yo :b
          </p>
          <Image id="img-me"
            class="profile-img"
            src={me}
            alt="Jherson Castro"
            loading="lazy"
          />
        </div>
      </figure>

    </div>
  </article>
</section>

<script>
  const hoy = new Date();

  const dia = String(hoy.getDate()).padStart(2, '0');
  const mes = String(hoy.getMonth() + 1).padStart(2, '0');
  const año = hoy.getFullYear();
  const diasSemana = ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sábado"];
  const diaSemana = diasSemana[hoy.getDay()];
  document.getElementById("dia-semana").textContent = diaSemana;
  document.getElementById("fecha-completa").textContent = `${dia}/${mes}/${año}`;

  const nacimiento = new Date(2005, 8, 2);
  let edad = hoy.getFullYear() - nacimiento.getFullYear();

  if (
    hoy.getMonth() < 8 ||
    (hoy.getMonth() === 8 && hoy.getDate() < 2)
  ) {
    edad--;
  }

  document.getElementById("edad").textContent = edad + " años";
</script>

<style>

#AboutMeSection{
  height:100dvh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:1rem;
}

.card{
  width:100%;
  max-width:1100px;
  margin:auto;
  border:1px solid #e5e7eb;
  border-radius:24px;
  background:white;
  padding:2rem;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.welcome-text{
  font-size:1.5rem;
  line-height:1.6;
  margin-bottom:2.5rem;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:3rem;
  align-items:center;
}

.text{
  font-size:1.5rem;
  line-height:1.6;
}

.image-wrapper{
  max-width:400px;
  margin:auto;
  width:100%;
}

.image-card{
  overflow:hidden;
  border-radius:24px;
  border:2px solid #e5e7eb;
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
  transition:0.5s;
}

.image-card:hover{
  transform:scale(1.05);
  border-color:#93c5fd;
}

.image-title{
  padding:0.8rem;
  text-align:center;
  font-size:1.4rem;
  border-bottom:1px solid #e5e7eb;
  background:#fafafa;
}

.profile-img{
  width:100%;
  height:380px;
  object-fit:cover;
  object-position:center;
}

.blue{
  color:#2563eb;
  font-weight:600;
}

.purple{
  color:#d946ef;
}

.bold{
  font-weight:600;
}

@media (max-width:768px){

  .grid{
    grid-template-columns:1fr;
  }

}

</style>