---
import LayoutMPA from "../../layouts/LayoutMPA.astro";
import Form from '../../components/Form.astro';
---
<LayoutMPA>
   	<div class="degradient-bg">
        <Form></Form>
    </div>
</LayoutMPA>