---
import LayoutMPA from "../../layouts/LayoutMPA.astro";
import HobbieController from '../../components/Hobbies/HobbieController.astro';
---
<LayoutMPA>
    <div class="degradient-bg">
        <HobbieController></HobbieController>
    </div>
</LayoutMPA>

